*{
  margin: 0;
}
/*---------INICIO - Historia CSS-------------*/
h1{
  text-align: center;
  font-family: 'Varela Round', sans-serif;
  font-size: 50px;
}
.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative; 
  left: 44%;
}

.nav li {
  float: left;
  position: relative; 
}

.nav li #boton{

  display: block;
  color: black;
  text-align: center;
  padding: 20px;
  text-decoration: none;
  font-weight: bold;
  font-family: 'Barlow', sans-serif;
}

#boton:hover {
  background-color: #ffb3b3;
  border-radius: 20px;
}

/*-----------INICIO CSS-------------------*/

#gal{
  width: 95%;
  height: 500px;
  margin: 10px;
  position: relative;
  left: 20px;
  border-style: solid;
  border-radius: 20px;
  border-color: #ffb3b3;
}
#des{
  width: 95%;
  height: 250px;
  margin: 10px;
  position: relative;
  left: 20px;
  border-style: solid;
  border-color: #ffb3b3;
  border-radius: 20px;
}
#des:hover, #gal:hover{
  box-shadow: 0 4px 8px 0 #cc0000, 0 6px 20px 0 #cc0000;
}
h2{
  font-family: 'Encode Sans Expanded', sans-serif;
  position: relative;
  left: 20px;
  font-size: 25px;
}
p{
  margin: 20px;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
}

/*----------------Inicio-Historia CSS---------------*/
footer{
  width: 100%;
  height: 150px;
  margin-top: 30px;
  background-color: #e60000;
}
.info{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
}
.info li{
  float: left;
  position: relative; 
  margin: 25px;
  left: 30%;

}
.info li .link{
  padding: 0;
  text-decoration: none;

}
span{
  position: relative;
  color: #ffffff;
  font-family: 'Barlow', sans-serif;
  font-weight: bold;
  top: 3px;
}
#der{
  font-family: 'Barlow', sans-serif;
  font-weight: bold;
  position: relative;
  top:25px;
  left: 43%;
}